@model IEnumerable<OnlineStore_Exam.Areas.Admin.Models.Promotion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 div-header-page-text">
        <h2>Promotion</h2>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 div-header-page-btn">
        <a class="btn btn-info btn-lg" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class ="main-text">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Details)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Percent)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.StartDate)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.ExpirationDate)</h4>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
