@model OnlineStore_Exam.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details: @Model.Title</h2>

<!-- Open Content -->

@* <div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article)
        </dd>
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Prise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prise)
        </dd>
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        
         //TODO: показывать сколько человек добавили в избранное
            <dt class="col-sm-2 main-text">
            @Html.DisplayNameFor(model => model.IsFavorites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavorites)
        </dd> 
    </dl>
</div> *@
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="text-muted" asp-action="Index">Back to List</a>
</div>
