@model IEnumerable<OnlineStore_Exam.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 div-header-page-text">
        <h2>Products</h2>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 div-header-page-btn">
        <a class="btn btn-info btn-lg" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Prise)
            </th>
            <th class="main-text">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Article)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Prise)</h4>
            </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
